*.licenses
*.resources
*.txt
*.tmp

build
test_build
output
buildapp.publish

# Paket
paket.exe

# Fake
.fake

# Build output
**/CommonBin/**/*.xml
**/CommonBin/PM_EMRAdapter.cs
**/CommonBin/*.dll
**/CommonBin/*.pdb
**/CommonBin/**/*.exe
**/CommonBin/**/*.config
**/CommonBin/**/AdminQuery.ini
**/CommonBin/**/AdminUtility.ini
**/CommonBin/**/AffAdmin.ini
**/CommonBin/**/criscc.ini
**/CommonBin/**/ConversionTemplate_V13.xlsx
**/CommonBin/**/LabOrdersAdapter.tlb
**/CommonBin/**/Mindlinc-IMGPRO_RASPDFW18.lic
**/CommonBin/**/InitialSetup.bat
**/CommonBin/**/InstallService.bat
**/CommonBin/**/UnInstallService.bat
**/CommonBin/**/register.bat
**/CommonBin/**/ZirmedCSV.csv
**/CommonBin/**/PM7Adapter.tlb
**/CommonBin/RSystems.application
**/CommonBin/RSystems.exe.manifest
**/CommonBin/RSystems.vshost.application
**/CommonBin/RSystems.vshost.exe.manifest


# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config
# NuGet v3's project.json files produces more ignoreable files
*.nuget.props
*.nuget.targets

# Click-Once directory
publish/

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# TFS 2012 Local Workspace
$tf/

# Visual Studio 2015 cache/options directory
.vs/

## Ignore Visual Studio temporary files, build results, and
## files generated by popular Visual Studio add-ons.

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/

#Ignore code analysis files
*.lastcodeanalysissucceeded
*.CodeAnalysisLog.xml
*.jfm
*.dbmdl
src/MindLinc_Installer/MindLinc_Installer/Express/SingleImage/DiskImages/DISK1/MindLinc_Installer.exe
src/MindLinc_Installer/MindLinc_Installer/Express/SingleImage/
src/MindLinc_Installer/MindLinc_Installer/Express/Interm/_IsIcoRes.Exe
